body{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: inherit;
}
::-webkit-scrollbar {
  width: 1px;
  background-color: rgb(90, 83, 83);
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #F5F5F5;
}

.active{
  color: black;
}
.App {
  width: 100%;
  height: 100%;
}

/* navbard */
.navbar{
  background-color: #3498db;
  padding: 1rem;
}
.navbar-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-items{
  display: flex;
  text-decoration: none;
}
.nav-list{
  list-style: none;
  margin-left: 2rem;
  padding: 0.2rem 0.7rem 0.3rem 0.7rem;
  border-radius: 10px;
}
.nav-list a{
  text-decoration: none;
}


/* Home Page Products Container */
.home-container{
  transition: 1s ease-in-out;
  text-align: center;
}
/* loader */
.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  top: 50%;
  left: 50%;
  position: absolute;
  z-index:999;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.blur {
  filter: blur(10px);
}

.cardContainer{
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 1rem;
}
.product-card{
  display: flex;
  flex-direction: column;
}
.product-grid-btn{
  margin-top: auto;
  justify-content: center;
  margin-bottom: .5rem;
}
.product-detail-container{
  display: flex;
}
.product-detail-img{
  border-radius: 20px;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 2rem;
}

.login-fields-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 80%;
  margin-bottom: 20px;
}

.login-fields {
  width: 70%;
  margin: 10px !important;
}

.login-buttons {
  margin-bottom: 1.5rem;
}
@media (min-width: 600px) {
  .login-fields {
    width: calc(50% - 20px);
  }
}


