body{
}
.App {
  text-align: center;
}
.main{
  background-color: #2b2b2b;
}
/* loader */
.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  top: 50%;
  left: 50%;
  position: absolute;
  z-index:999;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.blur {
  filter: blur(10px);
}
/* navbard */
.navbar{
  padding: 1rem;
}
.navbar-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-items{
  display: flex;
  text-decoration: none;
}
.nav-list{
  list-style: none;
  margin-left: 2rem;
  padding: 0.2rem 0.7rem 0.3rem 0.7rem;
  border-radius: 10px;
}
.nav-list a{
  text-decoration: none;
}

.cardContainer{
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 3rem;
}
.card{
  /* height: 250px; */
  width: 150px;
  border-radius: 10px;
}