body{
}
.App {
  text-align: center;
}

.navbar{
  padding: 1rem;
}
.navbar-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-items{
  display: flex;
  text-decoration: none;
}
.nav-list{
  list-style: none;
  margin-left: 2rem;
  padding: 0.2rem 0.7rem 0.3rem 0.7rem;
  border-radius: 10px;
}
.nav-list a{
  text-decoration: none;
}